
.saenimate {

    &.sec1 {
    animation-duration: 1s;
    }

    &.sec2 {
    animation-duration: 2s;
    }

    &.sec3 {
    animation-duration: 3s;
    }

    &.sec4 {
    animation-duration: 4s;
    }

    &.sec5 {
    animation-duration: 5s;
    }
}